// Footer

@import '../variables';
@import '../mixins';

.footer {
  padding: $spacing-4xl $spacing-xl;
  background: $color-neutral-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-lg;
}

.footer__logo {
  width: 74px;
  height: 74px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__social {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__social-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform $transition-fast $easing-default;
  @include focus-visible;

  &:hover {
    transform: scale(1.1);
  }

  img,
  svg {
    width: 100%;
    height: 100%;
  }
}
